Repository dsilva2401/buff-cac-bj, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, source, context, components, pages, firebase, hooks, routes

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
- src/**/*.spec.*

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
source:
- any: ['src/**/*', '!src/docs/*']

context:
- any: ['src/context/*.ts']

components:
- any: ['src/components/*.ts']

pages:
- any: ['src/pages/*.ts']

firebase:
- any: ['src/firebase/*.ts']

hooks:
- any: ['src/hooks/*.ts']

routes:
- any: ['src/routes/*.ts']

Critical UI Hotfixes (#235)
  src/components/AuthDrawer/AuthDrawer.tsx
  src/components/LoginForm/LoginForm.tsx
  src/components/ModuleWrapper/ModuleWrapper.tsx
  src/components/ShopDrawer/ShopDrawer.tsx
  src/components/WarrantyDrawer/WarrantyDrawer.tsx
  src/pages/ProductDetails/ProductDetails.tsx
  src/routes/index.tsx
Labels: source

Optimize shop module UI (#237)
  package.json
  src/components/ShopDrawer/ShopDrawer.tsx
Labels: repo, source

Hide Social Options (#240)
  package.json
  src/components/AuthDrawer/AuthDrawer.tsx
  src/components/LoginForm/LoginForm.tsx
  src/pages/Collection/Collection.tsx
  src/pages/Collection/styles.ts
  src/pages/ProductDetails/ProductDetails.tsx
  src/types/ProductDetailsType.ts
  yarn.lock
Labels: repo, source

Disable Screen Rotation (#241)
  src/App.tsx
  src/components/AppContainer/AppContainer.ts
Labels: source

Fix Drawer Header Sizing (#238)
  src/components/AppFrame/AppFrame.ts
  src/components/AuthDrawer/AuthDrawer.tsx
  src/components/BottomDrawer/styles.ts
  src/components/Button/Button.ts
  src/components/ModuleWrapper/ModuleWrapper.tsx
  src/components/PageWrapper/PageWrapper.tsx
  src/components/ShopDrawer/ShopDrawer.tsx
  src/i18n/resources.ts
  src/pages/ProductDetails/ProductDetails.tsx
  src/styles/global.ts
Labels: source

Classes and metas added for Google Analytics Events (#244)
  .github/workflows/functional-test.yml
  src/components/BottomDrawer/BottomDrawer.tsx
  src/components/EditInput/EditInput.tsx
  src/components/IconButton/IconButton.tsx
  src/components/LoginForm/LoginForm.tsx
  src/components/PersonalDetails/PersonalDetails.tsx
  src/components/SideMenu/SideMenu.tsx
  src/context/global/GlobalProvider.tsx
Labels: source

Fix screen rotation bug (#256)
  src/App.tsx
  src/components/AppContainer/AppContainer.ts
Labels: source

Add Video Module (#253)
  public/index.html
  src/components/VideoDrawer/VideoDrawer.tsx
  src/components/VideoDrawer/index.tsx
  src/components/WarrantyDrawer/WarrantyDrawer.tsx
  src/pages/ProductDetails/ProductDetails.tsx
  src/types/ProductDetailsType.ts
Labels: source

survey module V1 (#259)
  README.md
  package.json
  src/assets/images/png/pdf-placeholder.png
  src/components/EditTextArea/EditTextArea.tsx
  src/components/FormDrawer/FormDrawer.tsx
  src/components/FormDrawer/FormProtectedRoute.tsx
  src/components/FormDrawer/components/FileUpload/UploadInput/UploadInput.tsx
  src/components/FormDrawer/components/FileUpload/UploadInput/model.ts
  src/components/FormDrawer/components/FileUpload/UploadInput/styles.ts
  src/components/FormDrawer/components/FormCheckBox.tsx
  src/components/FormDrawer/components/FormCompletionPage.tsx
  src/components/FormDrawer/components/FormDropDown.tsx
  src/components/FormDrawer/components/FormFileUpload.tsx
  src/components/FormDrawer/components/FormMultipleChoice.tsx
  src/components/FormDrawer/components/FormSelectInput/FormSelectInput.tsx
  src/components/FormDrawer/components/FormSelectInput/index.tsx
  src/components/FormDrawer/components/FormSelectInput/styles.ts
  src/components/FormDrawer/components/FormStartPage.tsx
  src/components/FormDrawer/components/FormStepper.tsx
  src/components/FormDrawer/components/FormTextArea.tsx
  src/components/FormDrawer/styles/formstyles.css
  src/components/IconButton/styles.ts
  src/components/StepWrapper/StepComp.ts
  src/components/UploadInput/styles.ts
  src/context/FormDrawerContext/FormDrawerContext.tsx
  src/context/FormDrawerContext/FormDrawerProvider.tsx
  src/pages/ProductDetails/ProductDetails.tsx
  src/routes/index.tsx
  src/types/FormTypes.ts
  src/types/ProductDetailsType.ts
  src/utils/api.ts
  yarn.lock
Labels: repo, source

Update Bottom Drawer Buttons Layout (#261)
  src/components/BottomDrawer/BottomDrawer.tsx
Labels: source

Shop Drawer Filters Update (#260)
  src/components/SelectInput/SelectInput.tsx
  src/components/ShopDrawer/ShopDrawer.tsx
Labels: source

file upload fix form (#264)
  src/components/FormDrawer/FormDrawer.tsx
Labels: source

File fix (#265)
  src/components/FormDrawer/FormDrawer.tsx
Labels: source

change btn color to branch theme (#269)
  src/components/FormDrawer/FormDrawer.tsx
Labels: source

Refactor Video Module (#266)
  src/components/BottomDrawer/BottomDrawer.tsx
  src/components/VideoDrawer/VideoDrawer.tsx
  src/pages/ProductDetails/ProductDetails.tsx
Labels: source

Animate Form Stepper (#268)
  src/components/BottomDrawer/BottomDrawer.tsx
  src/components/FormDrawer/FormDrawer.tsx
  src/components/FormDrawer/components/FormStepper.tsx
  src/components/StepWrapper/StepComp.ts
  src/components/StepWrapper/StepWrapper.ts
  src/components/StepWrapper/index.ts
Labels: source

Thumbnail removed (#270)
  src/pages/ProductDetails/ProductHeroImage.tsx
Labels: source

Make radio and checkbox brand themed (#271)
  package-lock.json
  src/components/FormDrawer/FormDrawer.tsx
  src/components/FormDrawer/components/FormCheckBox.tsx
  src/components/FormDrawer/components/FormMultipleChoice.tsx
  src/components/FormDrawer/styles/FormStyleWrapper.ts
  src/components/RadioButtons/RadioButtons.tsx
Labels: repo, source

fix start screen minor bugs (#274)
  src/components/FormDrawer/FormDrawer.tsx
  src/components/FormDrawer/components/FormFileUpload.tsx
Labels: source

Fix Success Drawer Z-Index (#273)
  src/components/FormDrawer/FormDrawer.tsx
  src/components/SuccessDrawer/styles.ts
Labels: source

Adjust Shop Drawer Header (#272)
  src/components/ShopDrawer/ShopDrawer.tsx
Labels: source

Tweak Bottom Drawer Breakpoints (#277)
  src/hooks/useHeights.ts
Labels: source, hooks

Social login in registration event now catched (#276)
  src/App.tsx
Labels: source

Adjust More Button Display (#279)
  src/components/BottomDrawer/BottomDrawer.tsx
Labels: source

drop down text changes (#278)
  src/components/FormDrawer/components/FormDropDown.tsx
Labels: source

Code Cleanup (#275)
  src/components/BottomDrawer/BottomDrawer.tsx
  src/components/FormDrawer/components/FileUpload/UploadInput/UploadInput.tsx
  src/components/LoginForm/LoginForm.tsx
  src/components/RadioButtons/RadioButtons.tsx
  src/components/ReferralDrawer/ReferralDrawer.tsx
  src/components/RegistratonDrawer/RegistrationDrawer.tsx
  src/components/ShopDrawer/ShopDrawer.tsx
  src/components/SideMenu/SideMenu.tsx
  src/components/SocialLogin/SocialLogin.tsx
  src/components/VideoDrawer/VideoDrawer.tsx
  src/context/global/GlobalContext.ts
  src/context/global/GlobalProvider.tsx
  src/i18n/resources.ts
  src/pages/MagicLink/MagicLink.tsx
  src/pages/ProductDetails/ProductDetails.tsx
Labels: source

Improve registration (#263)
  .github/workflows/functional-test.yml
  src/App.tsx
  src/assets/lottie-animations/pre-circular-animation.json
  src/components/BottomDrawer/BottomDrawer.tsx
  src/components/LoginForm/LoginForm.tsx
  src/components/ProtectedRoute/ProtectedRoute.tsx
  src/components/RegistratonDrawer/RegistrationDrawer.tsx
  src/components/SideMenu/SideMenu.tsx
  src/components/SocialLogin/SocialLogin.tsx
  src/components/SuccessDrawer/CheckAnimation/CheckAnimation.tsx
  src/components/SuccessDrawer/SuccessDrawer.tsx
  src/components/SuccessDrawer/SuccessDrawerWrapper.tsx
  src/components/SuccessDrawer/styles.ts
  src/context/APICacheContext/APICacheContext.tsx
  src/context/APICacheContext/APICacheProvider.tsx
  src/context/SuccessDrawerContext/SuccessDrawerContext.tsx
  src/context/SuccessDrawerContext/SuccessDrawerProvider.tsx
  src/context/global/GlobalContext.ts
  src/context/global/GlobalProvider.tsx
  src/context/index.tsx
  src/hooks/useCacheAPI.ts
  src/hooks/usePersonalDetails.ts
  src/hooks/usePreview.ts
  src/hooks/useProductDetails.ts
  src/hooks/useRegisterProduct.ts
  src/hooks/useUser.ts
  src/i18n/resources.ts
  src/index.tsx
  src/pages/MagicLink/MagicLink.tsx
  src/pages/ProductDetails/ProductDetails.tsx
  src/utils/addWarrantyInformation.ts
  src/utils/api.ts
  src/utils/getSuccessTitle.ts
  src/utils/localStorageService.ts
  yarn.lock
Labels: repo, source, hooks

added validation (#280)
  src/components/PersonalDetails/PersonalDetails.tsx
Labels: source

Scan Event Console Logs (#281)
  src/context/global/GlobalProvider.tsx
Labels: source

fixed magiclink (#284)
  src/pages/MagicLink/MagicLink.tsx
Labels: source

fixed subheader and bottomdrawer height (#285)
  src/components/BottomDrawer/styles.ts
  src/components/SuccessDrawer/CheckAnimation/CheckAnimation.tsx
  src/components/SuccessDrawer/SuccessDrawer.tsx
Labels: source

fix drawer dragging (#286)
  src/components/BottomDrawer/BottomDrawer.tsx
  src/components/FormDrawer/components/FormSelectInput/FormSelectInput.tsx
  src/components/SelectInput/SelectInput.tsx
Labels: source

Registration form v2 (#283)
  src/App.tsx
  src/components/FormDrawer/FormDrawer.tsx
  src/components/RegistratonDrawer/RegistrationDrawer.tsx
  src/context/global/GlobalContext.ts
  src/context/global/GlobalProvider.tsx
  src/hooks/useCacheAPI.ts
  src/hooks/usePersonalDetails.ts
  src/pages/ProductDetails/ProductDetails.tsx
  src/types/ProductDetailsType.ts
  src/utils/api.ts
Labels: source, hooks

Fix Auth and Success Drawer UI (#287)
  src/components/AuthDrawer/AuthDrawer.tsx
  src/components/RegistratonDrawer/RegistrationDrawer.tsx
  src/components/SuccessDrawer/styles.ts
  src/hooks/useHeights.ts
  src/pages/ProductDetails/ProductDetails.tsx
Labels: source, hooks

Update Video Module for Android (#288)
  src/components/BottomDrawer/BottomDrawer.tsx
Labels: source

fixed empty button (#289)
  src/pages/ProductDetails/ProductDetails.tsx
Labels: source

Remove Test Code (#290)
  src/components/BottomDrawer/BottomDrawer.tsx
Labels: source

fix no required file form (#292)
  src/components/FormDrawer/FormDrawer.tsx
Labels: source

UI Tweaks (#293)
  src/components/BottomDrawer/BottomDrawer.tsx
  src/components/BottomDrawer/styles.ts
  src/components/SuccessDrawer/styles.ts
  src/hooks/useHeights.ts
Labels: source, hooks

File upload fix (#294)
  src/components/FormDrawer/FormDrawer.tsx
Labels: source
