Repository dsilva2401/buff-cac-bj, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, source, context, components, pages, firebase, hooks, routes

update start scrips for client app
  package.json
Labels: repo

fix no autosave errs
  .env.staging
  .gitignore
  package.json
Labels: repo

Delete .env.staging
  .env.staging
Labels: repo

Google tags and gdpr tags added (#153)
  public/index.html
Labels: none

fix oauth redirect (#156)
  src/components/EditInput/EditInput.tsx
  src/components/LoginForm/LoginForm.tsx
  src/components/SocialLogin/SocialLogin.tsx
Labels: source

Add Recaptcha V3 to Registration Flow (#119)
  package.json
  src/components/AuthDrawer/AuthDrawer.tsx
  src/components/LoginForm/LoginForm.tsx
  src/components/SideMenu/SideMenu.tsx
  src/components/SocialLogin/SocialLogin.tsx
  src/hooks/useLoginToken.ts
  src/hooks/useRecaptchaV3.ts
  src/i18n/resources.ts
  src/pages/Login/Login.tsx
  yarn.lock
Labels: repo, source, hooks

removed activate warranty (#138)
  src/components/RegistratonDrawer/RegistrationDrawer.tsx
  src/context/global/GlobalContext.ts
  src/context/global/GlobalProvider.tsx
Labels: source

Add Recaptcha V3 to Registration Flow (#119) (#157)
  package-lock.json
  package.json
  yarn.lock
Labels: repo

Fix critical ui bugs (#159)
  src/components/PersonalDetails/PersonalDetails.tsx
  src/pages/Collection/Collection.tsx
  src/pages/Landing/Landing.tsx
  yarn.lock
Labels: repo, source

Fix complete profile form on login page (#163)
  src/components/LoginForm/LoginForm.tsx
Labels: source

Fix white line on top of success drawer (#164)
  src/components/SuccessDrawer/styles.ts
Labels: source

Fix registration drawer HTML content alignment (#165)
  src/components/AuthDrawer/AuthDrawer.tsx
  src/components/RegistratonDrawer/RegistrationDrawer.tsx
Labels: source

fix buttons size on small screeen (#161)
  src/components/Button/Button.ts
Labels: source

Checkout attributes (#166)
  src/components/ShopDrawer/ShopDrawer.tsx
  src/pages/ProductDetails/ProductDetails.tsx
Labels: source

modified events (#167)
  src/components/ReferralDrawer/ReferralDrawer.tsx
  src/components/SocialLogin/SocialLogin.tsx
  src/hooks/useLogEvent.ts
Labels: source, hooks

Feature/brij gtagsand gdpr added (#162)
  public/index.html
Labels: none

Fixed CA issues for preview window (#168)
  package-lock.json
  src/components/HtmlWrapper/HtmlWrapper.tsx
  src/components/LoginForm/LoginForm.tsx
  src/components/PageWrapper/PageWrapper.tsx
  src/components/RegistratonDrawer/RegistrationDrawer.tsx
  src/components/SideMenu/SideMenu.tsx
  src/components/SocialLogin/SocialLogin.tsx
  src/components/SuccessDrawer/SuccessDrawer.tsx
  src/components/SuccessDrawer/styles.ts
  src/components/Wrapper/Wrapper.ts
  src/context/global/GlobalProvider.tsx
  src/hooks/useIframeModifier.tsx
  src/pages/ProductDetails/ProductDetails.tsx
  src/routes/index.tsx
Labels: repo, source

Adjust aspect ratio for small desktop views
  src/components/AppFrame/AppFrame.ts
  src/components/PageWrapper/PageWrapper.tsx
Labels: source

fixed captcha position (#171)
  src/components/LoginForm/LoginForm.tsx
  src/components/SocialLogin/SocialLogin.tsx
Labels: source

Fixed preview issue when user already logged in
  src/components/SideMenu/SideMenu.tsx
  src/context/global/GlobalProvider.tsx
Labels: source

Fixed registration issue
  src/components/RegistratonDrawer/RegistrationDrawer.tsx
Labels: source

Change aspect ratio to 16:9 for desktop views
  src/components/AppFrame/AppFrame.ts
  src/components/PageWrapper/PageWrapper.tsx
Labels: source

Resolve merge error
  src/components/PageWrapper/PageWrapper.tsx
Labels: source

Match select input design to Figma
  src/components/SelectInput/SelectInput.tsx
  src/components/SelectInput/styles.ts
  src/components/ShopDrawer/ShopDrawer.tsx
Labels: source

Fix quantity controller cutting off on narrow screens
  src/components/QuantityController/QuantityController.tsx
  src/components/QuantityController/styles.ts
  src/components/ShopDrawer/ShopDrawer.tsx
Labels: source

add uppper boundry button width
  src/components/Button/Button.ts
Labels: source

Fix long strings not breaking onto next line
  src/components/HtmlWrapper/HtmlWrapper.tsx
Labels: source

Make warranty module title dynamic
  src/pages/ProductDetails/ProductDetails.tsx
Labels: source

Warranty activation status check
  src/i18n/resources.ts
  src/pages/ProductDetails/ProductDetails.tsx
Labels: source

Refactor loading (#183)
  src/components/BottomDrawer/BottomDrawer.tsx
  src/hooks/useProductDetails.ts
  src/pages/ProductDetails/ProductDetails.tsx
  src/pages/ProductDetails/ProductHeroImage.tsx
Labels: source, hooks

Remove QR Scanner Validation (#180)
  src/pages/Collection/Collection.tsx
Labels: source

Redirect (#160)
  package.json
  src/App.tsx
  src/components/AuthDrawer/AuthDrawer.tsx
  src/components/LoginForm/LoginForm.tsx
  src/components/RegistratonDrawer/RegistrationDrawer.tsx
  src/components/SocialLogin/SocialLogin.tsx
  src/context/global/GlobalContext.ts
  src/context/global/GlobalProvider.tsx
  src/hooks/useProductDetails.ts
  src/pages/Collection/Collection.tsx
  src/pages/Login/Login.tsx
  src/pages/MagicLink/MagicLink.tsx
  src/pages/ProductDetails/ProductDetails.tsx
Labels: repo, source, hooks

Fix Age Gate display (#179)
  src/components/AgeGate/AgeGate.tsx
  src/pages/ProductDetails/ProductDetails.tsx
Labels: source

Form fe (#176)
  package.json
  public/index.html
  src/components/BottomDrawer/BottomDrawer.tsx
  src/components/FormDrawer/FormDrawer.tsx
  src/components/FormDrawer/FormProtectedRoute.tsx
  src/components/FormDrawer/FromStepWrapper.tsx
  src/components/FormDrawer/components/FormDropDown.tsx
  src/components/FormDrawer/components/FormFileUpload.tsx
  src/components/FormDrawer/components/FormMultipleChoice.tsx
  src/components/FormDrawer/components/FormStepper.tsx
  src/components/FormDrawer/components/FormTextArea.tsx
  src/components/FormDrawer/index.ts
  src/components/FormDrawer/styles/styles.ts
  src/components/HtmlWrapper/HtmlWrapper.tsx
  src/components/ModuleWrapper/ModuleWrapper.tsx
  src/components/RadioButtons/RadioButtons.tsx
  src/components/RadioButtons/index.ts
  src/components/SelectInput/SelectInput.tsx
  src/components/ShopDrawer/ShopDrawer.tsx
  src/components/SideMenu/SideMenu.tsx
  src/components/StepWrapper/StepComp.ts
  src/components/StepWrapper/StepWrapper.ts
  src/components/StepWrapper/index.ts
  src/context/FormDrawerContext/FormDrawerContext.tsx
  src/context/FormDrawerContext/FormDrawerProvider.tsx
  src/context/global/GlobalContext.ts
  src/context/global/GlobalProvider.tsx
  src/context/index.tsx
  src/hooks/useLogEvent.ts
  src/pages/MagicLink/MagicLink.tsx
  src/pages/ProductDetails/ProductDetails.tsx
  src/routes/index.tsx
  src/styles/global.ts
  src/types/FormDetailsEnum.tsx
  src/types/FormTypes.ts
  src/types/ProductDetailsType.ts
  yarn.lock
Labels: repo, source, hooks

Fixing Registration Drawer header (#182)
  src/components/AuthDrawer/AuthDrawer.tsx
  src/components/RegistratonDrawer/RegistrationDrawer.tsx
  src/pages/ProductDetails/ProductDetails.tsx
Labels: source

fix prod issues with route and import (#186)
  src/components/FormDrawer/FormDrawer.tsx
  src/components/FormDrawer/components/FormDropDown.tsx
  src/components/FormDrawer/components/FormMultipleChoice.tsx
  src/components/RegistratonDrawer/RegistrationDrawer.tsx
  src/context/global/GlobalProvider.tsx
  src/pages/ProductDetails/ProductDetails.tsx
  src/routes/index.tsx
Labels: source

fix registration drawer (#188)
  src/components/RegistratonDrawer/RegistrationDrawer.tsx
Labels: source

open drawer on user register if module id (#196)
  src/pages/ProductDetails/ProductDetails.tsx
Labels: source

Feature/dynamic google tag manager (#197)
  public/index.html
Labels: none

Enable Auto Deploy for Lead Module (#184)
  public/index.html
  src/components/BottomDrawer/BottomDrawer.tsx
  src/context/global/GlobalContext.ts
  src/context/global/GlobalProvider.tsx
  src/pages/ProductDetails/ProductDetails.tsx
  src/types/ProductDetailsType.ts
Labels: source

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
- src/**/*.spec.*

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
source:
- any: ['src/**/*', '!src/docs/*']

context:
- any: ['src/context/*.ts']

components:
- any: ['src/components/*.ts']

pages:
- any: ['src/pages/*.ts']

firebase:
- any: ['src/firebase/*.ts']

hooks:
- any: ['src/hooks/*.ts']

routes:
- any: ['src/routes/*.ts']
