Repository dsilva2401/buff-cac-bj, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, source, context, components, pages, firebase, hooks, routes

add success drawer (#295)
  src/components/FormDrawer/FormDrawer.tsx
  src/pages/ProductDetails/ProductDetails.tsx
Labels: source

Fix Video Module's button title not displaying (#296)
  src/components/BottomDrawer/BottomDrawer.tsx
Labels: source

catch links (#297)
  src/components/CatchLinkWrapper/CatchLinkWrapper.tsx
  src/components/CatchLinkWrapper/index.tsx
  src/components/CustomDrawer/CustomDrawer.tsx
  src/components/SideMenu/SideMenu.tsx
  src/pages/ProductDetails/ProductDetails.tsx
Labels: source

add text translations for form (#298)
  src/components/FormDrawer/FormDrawer.tsx
  src/components/FormDrawer/components/FormDropDown.tsx
  src/components/FormDrawer/components/FormFileUpload.tsx
  src/components/FormDrawer/components/FormTextArea.tsx
  src/i18n/resources.ts
  src/pages/ProductDetails/ProductDetails.tsx
Labels: source

catch checkout link (#299)
  src/components/ShopDrawer/ShopDrawer.tsx
  src/pages/ProductDetails/ProductDetails.tsx
Labels: source

added a patch for removing cache (#303)
  src/App.tsx
Labels: source

Remove Scan Logs (#301)
  src/context/global/GlobalProvider.tsx
Labels: source

add landscape orientation fix for samsung (#308)
  src/components/AppContainer/AppContainer.ts
Labels: source

Adjust Email Input (#313)
  src/components/EditInput/styles.ts
Labels: source

added options to checkout event (#312)
  src/components/ShopDrawer/ShopDrawer.tsx
Labels: source

Adjust Viscosoft Coverage Table UI (#311)
  src/components/AuthDrawer/AuthDrawer.tsx
  src/pages/ProductDetails/ProductDetails.tsx
Labels: source

Adjust positioning for Bottom Drawer Header (#310)
  src/components/BottomDrawer/BottomDrawer.tsx
  src/components/BottomDrawer/styles.ts
  src/components/Text/Text.ts
Labels: source

Adjust styling for Bottom Drawer Buttons (#309)
  src/App.tsx
  src/components/Button/Button.ts
Labels: source

apply demo day feedback to form module + lazy loading (#302)
  src/App.tsx
  src/components/FormDrawer/FormDrawer.tsx
  src/components/FormDrawer/components/FormDropDown.tsx
  src/components/FormDrawer/components/FormFileUpload.tsx
  src/components/FormDrawer/components/FormTextArea.tsx
  src/components/SideMenu/SideMenu.tsx
  src/pages/ProductDetails/ProductDetails.tsx
  src/routes/index.tsx
Labels: source

Tweak bottom drawer header (#314)
  src/components/BottomDrawer/styles.ts
  src/components/ModuleWrapper/ModuleWrapper.tsx
Labels: source

Magic link now using custom template (#315)
  src/hooks/useMagicLinkHandler.ts
Labels: source, hooks

Video Module - Android and Preview Mode (#300)
  src/assets/icons/svg/mute.svg
  src/assets/icons/svg/pause-circle.svg
  src/assets/icons/svg/play-circle.svg
  src/assets/icons/svg/speaker.svg
  src/components/AndroidPlayer/AndroidPlayer.tsx
  src/components/AndroidPlayer/index.ts
  src/components/AndroidPlayer/styles.ts
  src/components/BottomDrawer/BottomDrawer.tsx
  src/components/BottomDrawer/DrawerFooter.tsx
  src/components/BottomDrawer/styles.ts
Labels: source

address zoophie form module feedback and ui enhancements for survey module (#317)
  src/App.tsx
  src/components/BottomDrawer/BottomDrawer.tsx
  src/components/FormDrawer/FormDrawer.tsx
  src/components/FormDrawer/components/FormDropDown.tsx
  src/pages/ProductDetails/ProductDetails.tsx
Labels: source

Default completion (#321)
  src/components/FormDrawer/FormDrawer.tsx
  src/components/FormDrawer/components/FormCompletionPage.tsx
  src/pages/ProductDetails/ProductDetails.tsx
Labels: source

Fix terms and conditions link (#323)
  src/components/AuthDrawer/AuthDrawer.tsx
Labels: source

Match button UI with BD (#322)
  src/components/HtmlWrapper/HtmlWrapper.tsx
Labels: source

Fix placeholder product image dimensions (#324)
  src/pages/ProductDetails/ProductHeroImage.tsx
Labels: source

Purge scan event checks (#325)
  src/context/global/GlobalProvider.tsx
Labels: source

add image fix for file upload (#326)
  src/components/EditTextArea/styles.ts
  src/components/FormDrawer/FormDrawer.tsx
  src/components/FormDrawer/components/FileUpload/UploadInput/UploadInput.tsx
  src/components/FormDrawer/components/FormFileUpload.tsx
  src/components/IconButton/IconButton.tsx
  src/components/IconButton/styles.ts
  src/context/FormDrawerContext/FormDrawerContext.tsx
  src/context/FormDrawerContext/FormDrawerProvider.tsx
  src/pages/ProductDetails/ProductDetails.tsx
Labels: source

form fixes and blur image fix (#327)
  src/components/FormDrawer/FormDrawer.tsx
  src/components/FormDrawer/components/FileUpload/UploadInput/UploadInput.tsx
  src/components/FormDrawer/components/FormStartPage.tsx
  src/components/FormDrawer/components/FormTextArea.tsx
  src/components/FormDrawer/styles/FormStyleWrapper.ts
  src/pages/ProductDetails/ProductHeroImage.tsx
Labels: source

Improve rotation screen (#330)
  src/App.tsx
  src/assets/lottie-animations/check-animation.json
  src/assets/lottie-animations/circle-animation.json
  src/assets/lottie-animations/device-rotate-animation.json
  src/assets/lottie-animations/pre-circular-animation.json
  src/components/RotationScreen/RotationScreen.tsx
  src/components/RotationScreen/index.tsx
  src/i18n/resources.ts
Labels: source

Add Document Module (#329)
  src/components/BottomDrawer/BottomDrawer.tsx
  src/components/DocumentDrawer/DocumentDrawer.tsx
  src/components/DocumentDrawer/index.tsx
  src/components/ModuleWrapper/ModuleWrapper.tsx
  src/pages/ProductDetails/ProductDetails.tsx
  src/types/ProductDetailsType.ts
Labels: source

Magic link fix (#333)
  src/hooks/useMagicLinkHandler.ts
Labels: source, hooks

Revert purging of scan event checks (#331)
  src/context/global/GlobalProvider.tsx
Labels: source

Form survey (#328)
  src/components/BottomDrawer/BottomDrawer.tsx
  src/components/EditTextArea/EditTextArea.tsx
  src/components/EditTextArea/styles.ts
  src/components/FormDrawer/FormDrawer.tsx
  src/components/FormDrawer/components/FormCheckBox.tsx
  src/components/FormDrawer/components/FormDropDown.tsx
  src/components/FormDrawer/components/FormFileUpload.tsx
  src/components/FormDrawer/components/FormMultipleChoice.tsx
  src/components/FormDrawer/components/FormSelectInput/styles.ts
  src/components/FormDrawer/components/FormTextArea.tsx
  src/components/FormDrawer/styles/FormStyleWrapper.ts
  src/components/FormDrawer/styles/formstyles.css
  src/hooks/useLogEvent.ts
  src/pages/ProductDetails/ProductDetails.tsx
Labels: source, hooks

Refactor button type and remove locked checks (#335)
  src/components/BottomDrawer/BottomDrawer.tsx
  src/components/DocumentDrawer/DocumentDrawer.tsx
  src/pages/ProductDetails/ProductDetails.tsx
  src/types/ProductDetailsType.ts
Labels: source

Fix product image style (#338)
  src/pages/ProductDetails/ProductHeroImage.tsx
Labels: source

Fix Product Image (#344)
  src/components/BottomDrawer/BottomDrawer.tsx
  src/context/global/GlobalContext.ts
  src/context/global/GlobalProvider.tsx
  src/pages/ProductDetails/ProductHeroImage.tsx
Labels: source

Added support for Form, Video and Document module for preview window (#345)
  src/components/BottomDrawer/BottomDrawer.tsx
  src/components/DocumentDrawer/DocumentDrawer.tsx
  src/components/FormDrawer/FormDrawer.tsx
  src/pages/ProductDetails/ProductDetails.tsx
Labels: source

Feature/form video document preview support (#350)
  src/components/FormDrawer/FormDrawer.tsx
  src/pages/ProductDetails/ProductDetails.tsx
Labels: source

Development to main merge (#349)
  package.json
  src/assets/lottie-animations/form-swipe-animation.json
  src/components/EditTextArea/EditTextArea.tsx
  src/components/FormDrawer/FormDrawer.tsx
  src/components/FormDrawer/components/FileUpload/UploadInput/UploadInput.tsx
  src/components/FormDrawer/components/FileUpload/UploadInput/styles.ts
  src/components/FormDrawer/components/FormCheckBox.tsx
  src/components/FormDrawer/components/FormSelectInput/FormSelectInput.tsx
  src/components/FormDrawer/components/FormSelectInput/styles.ts
  src/components/FormDrawer/components/FormTextArea.tsx
  src/components/FormDrawer/styles/FormStyleWrapper.ts
  src/components/FormDrawer/styles/formstyles.css
  src/components/SuccessDrawer/SuccessDrawerWrapper.tsx
  src/pages/ProductDetails/ProductDetails.tsx
Labels: repo, source

Development (#354)
  package.json
  src/components/EditTextArea/EditTextArea.tsx
  src/components/EditTextArea/styles.ts
  src/components/FormDrawer/FormDrawer.tsx
  src/components/FormDrawer/components/FormSelectInput/styles.ts
  src/hooks/useUser.ts
Labels: repo, source, hooks

Staging deployment pipeline updated
  .github/workflows/deploy-staging.yaml
  src/components/EditTextArea/EditTextArea.tsx
  src/components/FormDrawer/FormDrawer.tsx
  src/components/FormDrawer/components/FormTextArea.tsx
Labels: source

Staging deployment pipeline updated
  .github/workflows/deploy-staging.yaml
  .gitignore
Labels: repo

Staging deployment pipeline updated
  .github/workflows/deploy-staging.yaml
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
- src/**/*.spec.*

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
source:
- any: ['src/**/*', '!src/docs/*']

context:
- any: ['src/context/*.ts']

components:
- any: ['src/components/*.ts']

pages:
- any: ['src/pages/*.ts']

firebase:
- any: ['src/firebase/*.ts']

hooks:
- any: ['src/hooks/*.ts']

routes:
- any: ['src/routes/*.ts']
