Repository dsilva2401/buff-cac-bj, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, source, context, components, pages, firebase, hooks, routes

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
- src/**/*.spec.*

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
source:
- any: ['src/**/*', '!src/docs/*']

context:
- any: ['src/context/*.ts']

components:
- any: ['src/components/*.ts']

pages:
- any: ['src/pages/*.ts']

firebase:
- any: ['src/firebase/*.ts']

hooks:
- any: ['src/hooks/*.ts']

routes:
- any: ['src/routes/*.ts']

Landing page links should open in the same tab (#190)
  src/pages/Landing/Landing.tsx
Labels: source

Fix Viscosoft and other pages showing part of success drawer on very large screens (#199)
  src/components/ShopDrawer/ShopDrawer.tsx
  src/components/SuccessDrawer/styles.ts
  src/pages/ProductDetails/ProductDetails.tsx
Labels: source

Fix profile page layout on small screens (#191)
  src/pages/Profile/Profile.tsx
Labels: source

Adjust background for system uploaded videos (#193)
  src/components/HtmlWrapper/HtmlWrapper.tsx
Labels: source

Add lifetime warranty option (#192)
  src/components/WarrantyDrawer/WarrantyDrawer.tsx
  yarn.lock
Labels: repo, source

Adjust bottom drawer cutoff position (#198)
  src/hooks/useHeights.ts
Labels: source, hooks

fix warranty double registration when user is already registered to the product. (#200)
  src/components/RegistratonDrawer/RegistrationDrawer.tsx
  src/hooks/useProductDetails.ts
Labels: source, hooks

Adjust bottom drawer for iOS (#202)
  src/hooks/useHeights.ts
Labels: source, hooks

Preview fixes (#203)
  src/components/RegistratonDrawer/RegistrationDrawer.tsx
  src/hooks/useProductDetails.ts
  src/pages/ProductDetails/ProductDetails.tsx
Labels: source, hooks

fix temp loading of not requiref modules (#205)
  src/components/RegistratonDrawer/RegistrationDrawer.tsx
Labels: source

escaped + in email (#209)
  src/hooks/useMagicLinkHandler.ts
Labels: source, hooks

window.parent.postMessage setAuthState fixed (#210)
  src/context/global/GlobalProvider.tsx
Labels: source

Fixes/set auth state (#211)
  src/components/RegistratonDrawer/RegistrationDrawer.tsx
Labels: source

Update landing page design (#214)
  src/assets/images/svg/bottom-stripe.svg
  src/assets/images/svg/horizontal-stripe.svg
  src/assets/images/svg/top-stripe.svg
  src/assets/logos/svg/viscosoft-logo.svg
  src/components/AgeGate/AgeGate.tsx
  src/components/Button/Button.ts
  src/components/FormDrawer/FormProtectedRoute.tsx
  src/components/LoginForm/LoginForm.tsx
  src/components/ProtectedRoute/ProtectedRoute.tsx
  src/components/ShopDrawer/ShopDrawer.tsx
  src/components/StepWrapper/StepWrapper.ts
  src/components/WarrantyDrawer/WarrantyDrawer.tsx
  src/components/Wrapper/Wrapper.ts
  src/pages/Landing/Landing.tsx
  src/pages/Landing/styles.ts
  src/pages/ProductDetails/ProductDetails.tsx
  src/pages/Profile/Profile.tsx
Labels: source

Fix Warranty Drawer Header Title to be same as Button CTA (#207)
  src/pages/ProductDetails/ProductDetails.tsx
Labels: source

Fix warranty lead information displaying 0 in case of lifetime warranty (#206)
  src/pages/ProductDetails/ProductDetails.tsx
Labels: source

Remove qr scanner (#187)
  package-lock.json
  package.json
  src/components/Wrapper/Wrapper.ts
  src/pages/Collection/Collection.tsx
  yarn.lock
Labels: repo, source

Update registartion module's design (#217)
  src/assets/logos/svg/email-alternate.svg
  src/components/AuthDrawer/AuthDrawer.tsx
  src/components/LoginForm/LoginForm.tsx
  src/components/SocialLogin/SocialLogin.tsx
  src/i18n/resources.ts
  src/pages/Login/Login.tsx
  src/pages/ProductDetails/ProductDetails.tsx
Labels: source

removed hardcoded message (#215)
  src/components/RegistratonDrawer/RegistrationDrawer.tsx
Labels: source

fixed activate registration (#213)
  src/components/RegistratonDrawer/RegistrationDrawer.tsx
  src/hooks/useProductDetails.ts
Labels: source, hooks

Fix agegate rendering issues (#218)
  src/components/AgeGate/AgeGate.tsx
Labels: source

Fix mulberry drawer header (#219)
  src/pages/ProductDetails/ProductDetails.tsx
Labels: source

Update signin icon (#220)
  src/assets/icons/svg/log-in.svg
  src/components/SideMenu/SideMenu.tsx
Labels: source

Remove whitespace for large iOS device (#189)
  src/styles/global.ts
Labels: source

Images optimization support added (#194)
  src/pages/ProductDetails/ProductHeroImage.tsx
Labels: source

Match shop drawer UI to figma (#223)
  src/components/SelectInput/SelectInput.tsx
  src/components/SelectInput/styles.ts
  src/components/ShopDrawer/ShopDrawer.tsx
Labels: source

Form validations (#216)
  src/assets/images/png/pdf-icon.png
  src/components/EditTextArea/EditTextArea.tsx
  src/components/EditTextArea/index.tsx
  src/components/EditTextArea/styles.ts
  src/components/FormDrawer/FormDrawer.tsx
  src/components/FormDrawer/FormProtectedRoute.tsx
  src/components/FormDrawer/FromStepWrapper.tsx
  src/components/FormDrawer/components/FileUpload/UploadInput/UploadInput.tsx
  src/components/FormDrawer/components/FileUpload/UploadInput/index.tsx
  src/components/FormDrawer/components/FileUpload/UploadInput/styles.ts
  src/components/FormDrawer/components/FormCheckBox.tsx
  src/components/FormDrawer/components/FormDropDown.tsx
  src/components/FormDrawer/components/FormFileUpload.tsx
  src/components/FormDrawer/components/FormMultipleChoice.tsx
  src/components/FormDrawer/components/FormTextArea.tsx
  src/components/RadioButtons/RadioButtons.tsx
  src/components/Text/Text.ts
  src/pages/ProductDetails/ProductDetails.tsx
  src/types/FormDetailsEnum.tsx
Labels: source

Empty modules show call to action button in preview mode (#224)
  src/components/BottomDrawer/BottomDrawer.tsx
  src/pages/ProductDetails/ProductDetails.tsx
Labels: source

add to shopify (#221)
  src/components/PersonalDetails/PersonalDetails.tsx
  src/components/RegistratonDrawer/RegistrationDrawer.tsx
Labels: source

Improved loading (#222)
  package.json
  src/assets/lottie-animations/circle-animation.json
  src/assets/lottie-animations/pre-circular-animation.json
  src/components/RegistratonDrawer/RegistrationDrawer.tsx
  src/components/SuccessDrawer/CheckAnimation/CheckAnimation.tsx
  src/components/SuccessDrawer/SuccessDrawer.tsx
  src/components/WarrantyDrawer/WarrantyDrawer.tsx
  src/context/global/GlobalContext.ts
  src/context/global/GlobalProvider.tsx
  src/hooks/useProductDetails.ts
  src/utils/api.ts
  yarn.lock
Labels: repo, source, hooks

fix the auto deploy (#225)
  src/App.tsx
  src/components/BottomDrawer/BottomDrawer.tsx
  src/components/RegistratonDrawer/RegistrationDrawer.tsx
  src/context/global/GlobalContext.ts
  src/context/global/GlobalProvider.tsx
  src/pages/MagicLink/MagicLink.tsx
  src/pages/ProductDetails/ProductDetails.tsx
Labels: source

Landing page hotfix (#226)
  src/pages/Landing/Landing.tsx
  yarn.lock
Labels: repo, source

UI Hotfixes (#229)
  src/components/AuthDrawer/AuthDrawer.tsx
  src/components/Button/Button.ts
  src/components/PersonalDetails/PersonalDetails.tsx
  src/components/RegistratonDrawer/RegistrationDrawer.tsx
  src/components/WarrantyDrawer/WarrantyDrawer.tsx
  src/pages/ProductDetails/ProductDetails.tsx
  src/pages/Profile/Profile.tsx
Labels: source

add form validation (#228)
  src/components/FormDrawer/FormDrawer.tsx
  src/components/FormDrawer/components/FileUpload/UploadInput/UploadInput.tsx
  src/components/FormDrawer/components/FormFileUpload.tsx
  src/components/FormDrawer/components/FormTextArea.tsx
Labels: source

Fix Mulberry Registration UI (#230)
  src/components/AuthDrawer/AuthDrawer.tsx
  src/pages/ProductDetails/ProductDetails.tsx
Labels: source

Shop Drawer Filters (#231)
  src/assets/icons/svg/select-input-arrow.svg
  src/components/BottomDrawer/BottomDrawer.tsx
  src/components/SelectInput/styles.ts
  src/components/ShopDrawer/ShopDrawer.tsx
Labels: source

Google analytics event classes added (#232)
  src/components/BottomDrawer/BottomDrawer.tsx
  src/components/LoginForm/LoginForm.tsx
  src/components/SocialLogin/SocialLogin.tsx
Labels: source

Module UI fixes (#233)
  package.json
  src/assets/icons/svg/select-input-arrow.svg
  src/assets/icons/svg/warning.svg
  src/components/ShopDrawer/ShopDrawer.tsx
  src/components/WarrantyDrawer/WarrantyDrawer.tsx
  src/pages/ProductDetails/ProductDetails.tsx
Labels: repo, source

Optimized images host url updated (#234)
  src/pages/ProductDetails/ProductHeroImage.tsx
Labels: source

Feature/ci cd (#227)
  .github/workflows/deploy-staging.yaml
  package.json
Labels: repo
